.listaBottoni {
    .animaloSelezionato {
        background-color: red;
    }
    .animalo {
        background-color: green;
    }
}

.listaBottoniDiversi {
    .animaloSelezionato {
        background-color: rgb(14, 157, 161);
    }
    .animalo {
        background-color: rgb(110, 58, 179);
    }
}

